*{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono';

}
.container{
    width: 100%;
    height: 100vh;
    background-image: url('pictures/sudio_cropped.gif');
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 70%;
    flex-basis: 50%;
    
}

.game-name {
    display: block; 
    align-items: center;
    text-align: center;
    margin-top: 16%;
    /* -webkit-animation: glow2 0.5s ease-in-out infinite alternate;
    -moz-animation: glow2 0.5s ease-in-out infinite alternate;
    animation: glow2 0.5s ease-in-out infinite alternate; */

}

h1{
    color: #ecd1fe;
    text-align: center;
    display: block;
    font-size: 80px;
}

p{  
    margin-top: 10px;
    color: #a69cac;
    font-size: 11;
}


nav{
    text-align: center;
}
nav ul {
    margin-top: 20%;
    justify-content: space-between;
}
nav ul li{
    margin-top: 5%;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    display: flex;
    list-style: none;
    display: block;
    
}
nav ul li a{
    text-decoration: none;
    color: #ecd1feb0; 
    font-size: 30px; 
    text-shadow: #f2e0ff;
}

a.glow-link {
    /* font-size: 80px; */
    /* color: #f2e0ff; */
    /* text-align: center; */
    -webkit-animation: glow1 0.5s ease-in-out infinite alternate;
    -moz-animation: glow1 0.5s ease-in-out infinite alternate;
    animation: glow1 0.5s ease-in-out infinite alternate;
  }

a.glow-link:hover {
    -webkit-animation: glow2 0.5s ease-in-out infinite alternate;
    -moz-animation: glow2 0.5s ease-in-out infinite alternate;
    animation: glow2 0.5s ease-in-out infinite alternate;

}
  
@-webkit-keyframes glow1 {
    from {
        text-shadow: 0 0 10px #ecd1feb0, 0 0 20px #f2e0ff, 0 0 30px #8a04ed, 0 0 40px #8a04ed, 0 0 50px #8a04ed, 0 0 60px #8a04ed, 0 0 70px #8a04ed;
    }
    to {
        text-shadow: 0 0 10px #ecd1feb0, 0 0 20px #f2e0ff, 0 0 30px #8a04ed, 0 0 40px #8a04ed, 0 0 50px #8a04ed, 0 0 60px #8a04ed, 0 0 70px #8a04ed;
    }
}

@-webkit-keyframes glow2 {
    from {
        text-shadow: 0 0 10px #ecd1feb0, 0 0 20px #f2e0ff, 0 0 30px #8a04ed, 0 0 40px #8a04ed, 0 0 50px #8a04ed, 0 0 60px #8a04ed, 0 0 70px #8a04ed;
    }
    to {
        text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #a33ced, 0 0 40px #a33ced, 0 0 50px #ca6dff, 0 0 60px #a33ced, 0 0 70px #a33ced;
    }
}
