@import url(https://fonts.googleapis.com/css2?family=Nova+Square:wght@400&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
                    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
                    'Helvetica Neue', sans-serif;
}
:root{
    --bg: rgb(27,27,27);
    --bg-container: rgb(41,41,41);
    --border: rgb(68,68,68);
    --btn-or-title: rgb(170,170,170);
    --text: rgb(253,253,253);
    --value: rgb(139,0,0);
    --board: rgb(85,85,85);
}
body{
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}
.game-container{
    background-color: var(--bg-container);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.logo-name{
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    width: 100%;
    height: 30px;
    font-size: 12px;
}

.settings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;   /*top-bottom left-right*/
    width: 100%;
    height: 30px;
}
.btn{
    color: var(--btn-or-title);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    width: 35px;
    height: 35px;
    font-size: 16px;
    border-radius: 50%;
    border: 2px solid var(--border);
    transition: all .2s ease;
}
.btn:hover{
    background-color: var(--btn-or-title);
    color: var(--bg);
    border: none;
    box-shadow: 0px 2px 3px var(--border),
                0px -2px 3px var(--border),
                2px 0px 3px var(--border),
                -2px 0px 3px var(--border);
}
.btn:active{    
    background-color: var(--btn-or-title);
    color: var(--bg);
    border: none;
    box-shadow: 0px 4px 6px var(--border),
                0px -4px 6px var(--border),
                4px 0px 6px var(--border),
                -4px 0px 6px var(--border);
}
.relative{
    position: relative;
}
.mode{
    position: relative;
    background-color: var(--bg-container);
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid var(--border);
}
.mode:hover,
.mode:focus{    
    background-color: var(--bg);
}
.mode button{
    background-color: transparent;
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
}
.arrow{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;    
}
.options{
    background-color: var(--bg-container);
    color: rgba(253,253,253,0.5);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: none;
    display: none;
    position: absolute;
    top: 100%; 
    box-shadow: 0px 1px 1.5px var(--border),
                0px -1px 1.5px var(--border),
                1px 0px 1.5px var(--border),
                -1px 0px 1.5px var(--border);
    z-index: 1;
}
.options option:hover{    
    background-color: var(--bg-container);
    color: var(--text);
}
.options option{    
    padding: 2px 0;
}
#custom-container {
    position: absolute;
    left: 6px;
    background-color: var(--bg-container);
    flex-direction: column;
    width: 300px;
    padding: 10px 5px;
    box-shadow: 0px 1px 1.5px var(--border),
                0px -1px 1.5px var(--border),
                1px 0px 1.5px var(--border),
                -1px 0px 1.5px var(--border);
    width: 183px;
    display: none;
    z-index: 2;
}
#custom-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 2px solid var(--border);
    padding: 8px;
    width: 45px;
    font-size: 12px;
}
.custom span{
    font-weight: 700;
    color: var(--text);
}
.custom input {
    background-color: transparent;
    color: var(--text);
    margin-top: 10px;
    width: 18px;
    font-size: 10px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}
.custom input::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 15px;
    height: 2px;
    transition: width 0.3s ease;
}
.custom input:focus::after {
    width: 10px;
    left: 25%;
    transition: width 0.3s ease;
}
.custom:hover,
.custom:focus{
    box-shadow: 0px 2px 3px var(--border),
                0px -2px 3px var(--border),
                2px 0px 3px var(--border),
                -2px 0px 3px var(--border);
}
#btns {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#btns button {
    padding: 2px 0;
    width: 55px;
    font-size: 12px;
    font-weight: 700;
    background-color: transparent;
    border-radius: 2px;
    background-color: var(--bg-container);
    color: rgba(253,253,253,0.5);
    border: none;
    box-shadow: 0px 1px 1.5px var(--border),
                0px -1px 1.5px var(--border),
                1px 0px 1.5px var(--border),
                -1px 0px 1.5px var(--border);
}
#btns button:hover,
#btns button:focus {
    background-color: var(--text);
    color: var(--bg);
    border: none;
    box-shadow: 0px 2px 3px var(--border),
                0px -2px 3px var(--border),
                2px 0px 3px var(--border),
                -2px 0px 3px var(--border);
}
#btns button:active {
    background-color: var(--text);
    color: var(--bg);
    border: none;
    box-shadow: 0px 4px 6px var(--border),
                0px -4px 6px var(--border),
                4px 0px 6px var(--border),
                -4px 0px 6px var(--border);
}

.stats{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;   
    width: 100%;
    height: 30px;
}
.val{    
    background-color: var(--bg);
    color: var(--value);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    width: 40px;
    height: 30px;
    font-size: 20px;
    font-family: 'Nova Square';
    font-weight: 700;
    border-radius: 2px;
}

.reset{
    position: relative;
}
.confirm-box,
.undo-box {
    display: none;
    background-color: var(--bg-container);
    color: var(--text);
    box-shadow: 0 0 10px 2px var(--text);
    border-radius: 10px;
    padding: 20px;
    max-width: 200px; 
    width: 100%;
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#reset-btn {
    border-radius: 2px;
    width: 36px;
    height: 36px;
    padding: 2px;
    cursor: pointer;
}
#okReset,
#cancelReset,
#okUndo,
#cancelUndo {
    padding: 5px 8px;
    margin-top: 10px;
    cursor: pointer;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2; 
}

#ingame{
    border-radius: 2px;
    background-color: var(--board);
    overflow: hidden;
    margin: 5px;
}
#ingame div{
    float: left;
    width: 20px;
    height: 20px;
}

.game-setting,
.high-scores {
    opacity: 0;
    visibility: hidden;
    display: flex;
    position: fixed;
    width: 300px;
	height: fit-content;
    background-color: var(--bg-container);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 0px solid transparent; 
    box-shadow: 0 0 10px 2px var(--text);
    transform: translateX(100%);
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
    overflow: hidden;
}
.game-setting .logo-name{
    margin-top: 45px;
}
.game-setting.display { 
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}
.line {
    position: relative;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    width: 120px; 
    height: 4px;
    background-color: var(--text);
}
.setting-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 5px  15px ;   //top-bottom left-right */
    margin-top: 20px;
    margin-bottom: 5px;
    padding-bottom: 20px;
}
.setting-options a {
    color: var(--text);
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    padding: 15px;
}
.setting-options a:hover{
    background-color: var(--btn-or-title);
    color: var(--bg);
    border: none;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 3px var(--border),
                0px -2px 3px var(--border),
                2px 0px 3px var(--border),
                -2px 0px 3px var(--border);
}
.setting-options a:active{    
    background-color: var(--btn-or-title);
    color: var(--bg);
    border: none;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px var(--border),
                0px -4px 6px var(--border),
                4px 0px 6px var(--border),
                -4px 0px 6px var(--border);
}
.sound-options {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    margin: 15px 0px 35px 0px;
}
.sound-options a {
    text-decoration: none; 
    margin: 0 5px; 
}

.game-help{
    opacity: 0;
    visibility: hidden;
    display: flex;
    position: fixed;
    width: 300px;
    height: fit-content;
    background-color: var(--bg-container);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 0px solid transparent; 
    box-shadow: 0 0 10px 2px var(--text);
    transform: translateX(-100%);
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, transform 0.5s ease-in-out;
    overflow: hidden;
}
.game-help.display{ 
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}
.game-help .logo-name{
    padding-bottom: 10px;
    margin-top: 30px;
}
.icon-description {
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 2px;
}
.icon-button {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.icon-button img {
    min-width: 30px; 
    height: 30px;
    margin-right: 2px; 
    margin-left: 10px;
    filter: brightness(120%);
}
.icon-button p {
    margin: 0;
    color: var(--text);
    text-align: right;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    font-size: 18px
}

/* help-box */
img{
    image-rendering: pixelated;}
.red-flag{background: url("resources/icons/cell-redflag.png") no-repeat center center / cover;}
.new-game{background: url("resources/icons/cat-smile.png") no-repeat center center / cover;}
.undo{background: url("resources/icons/cell-undo.png") no-repeat center center / cover;}
.lost{background: url("resources/icons/cell-lost.png") no-repeat center center / cover;}
.remain{background: url("resources/icons/cell-remain.png") no-repeat center center / cover;}
.catBox{background: url("resources/icons/catBox.png") no-repeat center center / cover;}
.timeBox{background: url("resources/icons/timeBox.png") no-repeat center center / cover;}

/* reset button */
#reset-btn{
    image-rendering: pixelated;}
#reset-btn.cat-smile{background: url("resources/icons/cat-smile.png") no-repeat center center / cover;}
#reset-btn.cat-pressed{background: url("resources/icons/cat-pressed.png") no-repeat center center / cover;}
#reset-btn.cat-surprised{background: url("resources/icons/cat-surprised.png") no-repeat center center / cover;}
#reset-btn.cat-sad{background: url("resources/icons/cat-sad.png") no-repeat center center / cover;}
#reset-btn.cat-cool{background: url("resources/icons/cat-cool.png") no-repeat center center / cover;}

/* ingame */
#ingame{
    image-rendering: pixelated;}
#ingame .covered {background: url("resources/icons/cell.png") no-repeat center center / cover;}
#ingame .cats0 {background: url("resources/icons/cell-clicked.png") no-repeat center center / cover;}
#ingame .cats1 {background: url("resources/icons/cell-clicked1.png") no-repeat center center / cover;}
#ingame .cats2 {background: url("resources/icons/cell-clicked2.png") no-repeat center center / cover;}
#ingame .cats3 {background: url("resources/icons/cell-clicked3.png") no-repeat center center / cover;}
#ingame .cats4 {background: url("resources/icons/cell-clicked4.png") no-repeat center center / cover;}
#ingame .cats5 {background: url("resources/icons/cell-clicked5.png") no-repeat center center / cover;}
#ingame .cats6 {background: url("resources/icons/cell-clicked6.png") no-repeat center center / cover;}
#ingame .cats7 {background: url("resources/icons/cell-clicked7.png") no-repeat center center / cover;}
#ingame .cats8 {background: url("resources/icons/cell-clicked8.png") no-repeat center center / cover;}
#ingame .cat-hit {background: url("resources/icons/cell-lost.png") no-repeat center center / cover;}
#ingame .cat-misflagged {background: url("resources/icons/cell-redflag.png") no-repeat center center / cover;}
#ingame .cat {background: url("resources/icons/cell-remain.png") no-repeat center center / cover;}
#ingame .flag {background: url("resources/icons/cell-redflag.png") no-repeat center center / cover;}

.high-scores .logo-name{
    margin-top: 50px;
    padding-top: 30px;
}
.high-scores.display { 
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}
.score-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3px;
    margin-top: 15px;
    margin-bottom: 50px;
    /* padding-bottom: 60x; */
}
.score-list .score-val {
    color: var(--text);
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
    padding: 15px;
}
.setting-options .score-val:hover{
    background-color: var(--btn-or-title);
    color: var(--bg);
    border: none;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 3px var(--border),
                0px -2px 3px var(--border),
                2px 0px 3px var(--border),
                -2px 0px 3px var(--border);
}